<div class="games" >
  <div>
    <h2>GAMES</h2>
  </div>
<br/>
  
    <div class="card-container">
      <a *ngFor="let p of producto">
        <div >
          <div class="card mb-3">
            <img src="https://as.com/meristation/imagenes/2020/11/11/noticias/1605088151_378581_1605088347_noticia_normal.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{p.nombre}}</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>

        </div>
      
      </a>

    </div>
    <br/>
    <h2>NUEVA PELICULA</h2>
    <br/>
    <div class="card-container">

      <form  >
      <div class="form-group" > 
        <input type="text" class="form-group" id ="formGroupExampleInput" 
        placeholder="Nombre" formControlName="nombreF" > 
      </div>
      <br/>
      <button type="submit" class="btn btn-secondary btn-lg btn-block" >Registrar</button>

    </form>

  
    </div>
    <br/>
    <br/>
    <br/>
  </div>