<div>
    <br/>
<br/>
    <div className="textDefault" span={9}>
        <p className="TitleDefault">¿QUIENES SOMOS?</p>
        <p>
            Las funciones o desempeños de la profesión que se espera que los graduados de la carrera de
            Tecnología Superior en Agua y Saneamiento Ambiental alcancen dentro de los 3 a 5 años
            posteriores a su graduación son: Apoyar en servicios de consultoría para el desarrollo de
            proyectos de tecnologías en agua y saneamiento ambiental, orientados a la gestión,
            planeación, análisis, diseño, implementación, operación y mantenimiento de sistemas.
            Participar en obras de abastecimiento de agua y saneamiento ambiental, garantizando aspectos
            de seguridad, calidad y conservación del ambiente
        </p></div>

    <div className="textDefault" span={18} offset={3}>
        <p className="TitleDefault">NOSOTROS</p>
        <p>
            Las funciones o desempeños de la profesión que se espera que los graduados de la carrera de
            Tecnología Superior en Agua y Saneamiento Ambiental alcancen dentro de los 3 a 5 años
            posteriores a su graduación son: Apoyar en servicios de consultoría para el desarrollo de
            proyectos de tecnologías en agua y saneamiento ambiental, orientados a la gestión,
            planeación, análisis, diseño, implementación, operación y mantenimiento de sistemas.
            Participar en obras de abastecimiento de agua y saneamiento ambiental, garantizando aspectos
            de seguridad, calidad y conservación del ambiente
        </p></div>

        <div class="card mb-3" >
          <div class="row g-0">
            <div class="col-md-4">
              <img src="https://imagenes.20minutos.es/files/article_amp/uploads/2020/04/28/cine-peliculas-estreno-plataformas-streaming-00.png" class="img-fluid" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">PELICULAS</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3" >
          <div class="row g-0">
            <div class="col-md-4">
              <img src="https://as.com/meristation/imagenes/2020/04/17/reportajes/1587152675_380766_1587152733_noticia_normal.jpg" class="img-fluid" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">VIDEOJUEGOS</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3" >
          <div class="row g-0">
            <div class="col-md-4">
              <img src="https://as.com/meristation/imagenes/2019/01/08/reportajes/1546933662_826942_1546935400_noticia_normal.jpg" class="img-fluid" alt="...">
            </div>
            <div class="col-md-8 ">
              <div class="card-body">
                <h5 class="card-title">ANIME</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
        <br/>
        <br/>
        <br/>
</div>
